{% extends 'reguser/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">
    <h1>Password reset</h1>
    <p>Please, enter the e-mail address with which you registered your account. You will be sent a password reset link, which you can use to set a new password. </p>
    <form method="POST" action="{% url 'password-reset' %}">{% csrf_token %}
        {{ form|bootstrap }}
    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" class="btn btn-primary" value="Send link" />
        </div>
    </div>
    </form>
</div>
{% endblock %}
