{% extends 'reguser/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">
    <h1>Password reset</h1>
    {% if validlink %}
    <form method="post" action="{% url 'password-reset' %}">{% csrf_token %}
        {{ form|bootstrap }}
    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
    </div>
    </form>
    {% else %}
    <p>This reset link is no longer valid.</p>
    {% endif %}
</div>
{% endblock %}
